<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head"></head>

<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <form action="/activities/save" method="POST" th:object="${activity}">

        <input placeholder="Title" th:field="*{title}" type="text">

        <input placeholder="Kcal" th:field="*{kcal}" type="number">

        <select name="color" th:field="*{type}">
            <option th:each="type : ${T(com.florianvdab.diary.entities.ExerciseType).values()}"
                    th:text="${type}"
                    th:value="${type}">
            </option>
        </select>

        <input placeholder="Start time" th:field="*{startDateTime}" type="datetime-local">

        <input placeholder="End time" th:field="*{endDateTime}" type="datetime-local">

        <button type="submit">Create Activity</button>

    </form>
</div>

</body>

</html>